div
{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
}

div:first-child
{
  max-width: 70%;
}

div:last-child
{
  max-width: 30%;
}

div > span
{
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
}