.calculator
{
    width: 250px;
    padding: 15px;
    border: 1px solid black;
}

.display
{
    border: 1px solid black;
    padding: 15px;
    width: 216px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}