:host {
    text-align: center;
    display: block;
  }
  
  form {
    max-width: 300px;
    margin: auto;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .actions {
    text-align: center;
  }

  .login-wrapper
  {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  img
  {
    width: 350px;
    height: 377px;
  }

  input
  {
    border: 1px solid #bdc4c9;
    font-size: 16px;
    padding: 5px 6px;
    width: 100%;
    margin: 2px 0 5px;
    min-height: 34px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
  }

  button
  {
    background-color: #0070E0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#168add), to(#007ee5));
    background-image: linear-gradient(#168add, #007ee5);
    border: 1px solid #0c6ebe;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .inputError
  {
    color:red;
    font-size: 14px;
  }